html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body { 
  font-family: 'Montserrat', sans-serif; 
  background-image: url('img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  opacity: 100%;
  z-index: 0;
}

.content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 50px);
  width: 100%;
  padding: 20px;
  background-color:rgba(0, 0, 0, 0.9);
  position: relative;
  z-index: 1;
}
.aboutDescriptionContent p {
  font-size: 14px;
  text-align: left;
}
.anggotaFamilyContent p{
  font-size: 14px;
  text-align: left;
}



.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery-container img {
  width: calc(50% - 20px); /* 25% width untuk empat gambar dalam satu baris, dengan margin 20px */
  max-width: 100%; /* Maksimum lebar gambar adalah 100% dari kontainer */
  height: auto; /* Mengikuti proporsi gambar asli */
  border: 1px solid #ffffff; /* Tambahkan border putih 1px untuk efek visual */
  transition: transform 0.3s ease-in-out; /* Efek transisi ketika mouse hover */
}

.gallery-container img:hover {
  transform: scale(1.1); /* Membesar sedikit ketika mouse hover */
}
.gallery-section{

  background-color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
  background-color:#222;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a i {
  font-size: 24px;
}

@media (max-width: 576px) {
  .navbar {
    padding: 5px 0;
  }
}

#welcomeText {
  color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-left: 10px;
  font-size: 3vw;
  transition: opacity 0.5s ease-in-out;
}

.show {
  opacity: 1;
}
